@import '/src/styles/abstracts/mixins';
@import '/src/styles/abstracts/variables';


.buttonplayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: rgba(29, 37, 58, 0.41);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    border: 1px solid rgba(29, 37, 58, 0.41);
    cursor: pointer;
    overflow: visible;

    &:hover {
        .playIcon {
            width: 70px;
            height: 70px;
        }

        .pauseIcon {
            width: 70px;
            height: 70px;
        }
    }
        
}


.playIcon {
    width: 60px;
    height: 60px;
    transform: translateX(4px);
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
}

.pauseIcon {
    width: 60px;
    height: 60px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease;
}