@import '/src/styles/abstracts/mixins';
@import '/src/styles/abstracts/variables';


.audioplayerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 340px;

    @include respond(xs) {
        width: min(100%, 280px);
    }
}

.buttonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}