@import '/src/styles/abstracts/mixins';
@import '/src/styles/abstracts/variables';


.audioplayerContainer {
    display: flex;
    width: 400px;
    height: 160px;
    justify-content: center;
    align-items: center;
}