@import '/src/styles/abstracts/mixins';
@import '/src/styles/abstracts/variables';


.audioinfoContainer {
    position: relative;
    overflow: hidden;
    color: antiquewhite;
    width: 600px;
    height: 100px;
}

.infoContainer {
    position: relative;
    
}

.artistMotion {
    position: absolute;
    opacity: 0.1;
}

.titleMotion {
    position: absolute;
    font-size: 2rem;
}

.albumMotion {
    position: absolute;
    opacity: 0.5;
}
