@import '/src/styles/abstracts/mixins';
@import '/src/styles/abstracts/variables';


.bigContainer {
    display: flex;
    flex-direction: column;
}

.sliderContainer {
    position: relative;
    display: flex;
    width: 500px;
    height: 500px;
    background-color: $gray-one;
    overflow: hidden;

    justify-content: center;
    align-items: center;

}

.slideMotion {
    position: absolute;
    z-index: 0;
    scale: 0.8;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}