@import '/src/styles/abstracts/mixins';
@import '/src/styles/abstracts/variables';


.bigContainer {
    display: flex;
    flex-direction: column;
    
}

.sliderContainer {
    position: relative;
    display: flex;
    width: 650px;
    height: 650px;
    overflow: hidden;

    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background: #1d253a;
    box-shadow: inset 12px 12px 27px #1a2133,
                inset -12px -12px 27px #202941;
}

.slideMotion {
    position: absolute;
    z-index: 1;
    scale: 1;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}